*{
    padding: 0;
    margin:0;
    background-color: darkgray;
    font-size:40px;
}
#box2{
    background-color:blue;
    border:0 solid black;
    padding:10px;
    height:100px;
    width:20px;
    border:30px solid purple;
    margin: 100px;
    box-sizing: border-box;
}
#box1{ 
    border: 0 solid green;
    background-color:blue;
    padding:10px;
    height:100px;
    width:100px;
    border: 30px solid pink;
    margin: 70px;

    
}