body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid rebeccapurple;
  padding: 0.2em;
}

.block,
li {
  border: 2px solid blue;
  padding: 0.2em;
  /* width: 200px;
  height: 100px; */
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}
li{
    width: 100px;
    height: 50px;
    padding:40px  aqua;
    margin:10px grey;
    border: 5px  solid black;
    border-radius: 12%;

}