.box{
    margin:30 3em 0 3em;
}
.box1{
    margin:30px;
    border: 30px darkblue;
    padding: 20px;
    background-color: darkgray;
    width: 255px;
    height: 200px;
}
.box2{
    background-color: grey;
    height: 300px;
    width:300px;
}
.container{
    width:980px;
    margin:0px
}