*{
    margin:100px;
    
}
.box-1{
    box-sizing: content-box;
    width: 700px;
    height: 100px;
    border: solid gray 50px;
    margin:50px;
}

.box-2{
    box-sizing: border-box;
    width: 700px;
    height: 100px;
    padding: 50px;
    border:50px solid black;
    margin-left:50px;
}